.one {
  background-color: #a9a9a9;
}
.two {
  background-color: #c0c0c0;
}
.three {
  background-color: #d3d3d3;
}
.four {
  background-color: #dcdcdc;
}
.five {
  background-color:#a9a9a9;
}
.six {
  background-color: #c0c0c0;
}
.seven {
  background-color: #d3d3d3;
}
.eight {
  background-color: #dcdcdc;
}
.nine {
  background-color: #a9a9a9;
}

header {
  width: 100vw;
  height: 100px;
  background-color: #808080;
}
main{
  display: flex;
  flex-direction: column;
}
.articles-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,550px);
}


.latest-articles {
  position: relative;
}
.tittle{
  position: absolute;
  top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.latest-posts{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 500px 700px 500px;
}

.latest-posts .five {
  background-color: #778899;
}

.tittle .content {
  width: 300px;
  height: 100px;
  background-color: #2f4f4f;
}

.latest-articles .icon {
  width: 300px;
  height: 50px;
  background-color: #708090;
  position: absolute;
  top: 5%;
  right: 5%;
}

.new {
  width: 90%;
  background-color: #808080;
  height: 690px;
  align-self: center;
  border-radius: 10px;
  margin: 5%;
}
.see-latest{
  align-self: center;
  width: 20%;
  background-color: #778899;
  height: 60px;
}

.meet{
  width: 100%;
  height: 1060px;
  background-color: #696969;
  margin-top: 5%;
}
.community-links .one{
  height: 276px;
}
.community-grid{
  background-color: khaki;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 420px 386px 420px;
}
