.one {
  background-color: #d3d3d3;
}
.two {
  background-color: #e5e4e2;
}
.three {
  background-color: #dcdcdc;
}
.four {
  background-color: #dbd7d2;
}
.five {
  background-color:#d3d3d3;
}
.six {
  background-color: #e5e4e2;
}
.seven {
  background-color: #dcdcdc;
}
.eight {
  background-color: #dbd7d2;
}
.nine {
  background-color: #d3d3d3;
}

header {
  width: 100vw;
  height: 100px;
  background-color:#c0c0c0;
}
main{
  display: flex;
  flex-direction: column;
}
.articles-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,550px);
}


.latest-articles {
  position: relative;
}
.tittle{
  position: absolute;
  top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.latest-posts{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 500px 700px 500px;
}

.latest-posts .five {
  background-color: #696969;
}

.tittle .content {
  width: 300px;
  height: 100px;
  background-color: #808080;
}

.latest-articles .icon {
  width: 300px;
  height: 50px;
  background-color: #a9a9a9;
  position: absolute;
  top: 5%;
  right: 5%;
}

.new {
  width: 90%;
  background-color: #808080;
  height: 690px;
  align-self: center;
  border-radius: 10px;
  margin: 0 5%;
  margin-top: 5%;
}
.see-latest{
  align-self: center;
  width: 20%;
  background-color:#c0c0c0;
  height: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.meet{
  width: 100%;
  height: 1060px;
  background-color: #696969;
  /* margin-top: 0 5%; */
}
.community-links .one{
  height: 276px;
}
.community-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 420px 386px 420px;
}
.featured{
  height: 400px;
  background-color: #696969;
  position: relative;
  /* margin-top: 5%; */
}
.featured div {
  height: 400px;
  width: 300px;
  background-color: #c0c0c0;
  position: absolute;
  top:-45px;
  right: 100px;
}
.our-guide{
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 400px 800px;
  margin: 0 7%;
  margin-top: 5%;
}

.our-guide .four {
  background-color: #696969;
}

footer {
  width: 100vw;
  height: 600px;
  background-color: #696969;
}