header {
  width: 100vw;
  height: 100px;
  background-color: #808080;
}
main{
  display: flex;
  flex-direction: column;
}
.articles-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,550px);
}
.articles-grid * {
  border: green 1px solid;
  background-color: hotpink;
}
.one {
  background-color: #a9a9a9;
}
.two {
  background-color: #c0c0c0;
}
.three {
  background-color: #d3d3d3;
}
.four {
  background-color: #dcdcdc;
}
.five {
  background-color:#778899;
}
.six {
  background-color: #c0c0c0;
}
.seven {
  background-color: #d3d3d3;
}
.eight {
  background-color: #dcdcdc;
}
.nine {
  background-color: #a9a9a9;
}
.latest-articles {
  position: relative;
}
.tittle{
  position: absolute;
  top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.latest-posts{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 500px 700px 500px;
}

.tittle .content {
  width: 300px;
  height: 100px;
  background-color: #2f4f4f;
}

.latest-articles .icon {
  width: 300px;
  height: 50px;
  background-color: #708090;
  position: absolute;
  top: 5%;
  right: 5%;
}
/* .latest-posts * {
  border: green 1px solid;
  background-color: indigo;
} */